:root{
/* ## Colors */
/* ### Primary */
--SoftOrange: hsl(35, 77%, 62%);
--SoftRed: hsl(5, 85%, 63%);

/* ### Neutral */
--OffWhite: hsl(36, 100%, 99%);
--GrayishBlue: hsl(233, 8%, 79%);
--DarkGrayishBlue: hsl(236, 13%, 42%);
--VeryDarkBlue: hsl(240, 100%, 5%);

/* Fonts */
--fuentePrincipal: 'Inter', sans-serif;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
body{
    font-size: 15px !important;
    font-family: var(--fuentePrincipal);
    min-height: 100vh;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}
/* Utilidades */
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
/* BEM Styles  */
.grid-areas{
    display: grid;
    gap: 2rem;
    grid-template-areas: 
        "nav"
        "main"
        "aside"
        "section"
    ;
    margin-bottom: 3rem;
}
@media (min-width: 668px){ 
    .grid-areas{
        grid-template-areas: 
            "nav nav nav"
            "main main aside"
            "section section section"
        ;
    }
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    grid-area: nav;
    margin-top: 2rem;
}
.main{
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
        "main__imagen"
        "main__titulo"
        "main__info"
    ;
    grid-area: main;
}
@media (min-width: 668px){ 
    .main{
        display: grid;
        gap: 1.5rem;
        grid-template-areas: 
            "main__imagen main__imagen"
            "main__titulo  main__info"
        ;
        grid-area: main;
    }
}
.main__img{
    max-height: 350px;
    width: 100%;
    grid-area: main__imagen;
}
.main__h1{
    color: var(--VeryDarkBlue);
    font-weight: 700;
    font-size: 42px;
    line-height: 1;
    grid-area: main__titulo;
}
.main__info{
    grid-area: main__info;
}
.main__p{
    color: var(--DarkGrayishBlue);
    margin-bottom: 1rem;
    font-weight: 500;
}
.main__btn{
    border: none;
    background-color: var(--SoftRed);
    color: var(--OffWhite);
    height: 40px;
    min-width: 170px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}

.aside{
    grid-area: aside;background-color: var(--VeryDarkBlue);
    padding: 1rem;
}
.aside__h2{
    color: var(--SoftOrange);
    font-weight: 700;
    font-size: 28px;
}
.aside__content{
    margin-top: 1rem;
    margin-bottom: 2rem;
    position: relative;
}
.aside__content:last-of-type{
    margin-bottom: 0;
}
.aside__content::after{
    content: '';
    position: absolute;
    bottom: -15px;
    background-color: var(--GrayishBlue);
    height: 1px;
    width: 100%;
}
.aside__content:last-of-type::after{
    height: 0;
}
.aside__h3{
    color: var(--OffWhite);
    font-size: 20px;
    font-weight: 700;
}
.aside__p{
    font-size: 15px;
    color: var(--GrayishBlue);
    line-height: 1.5;
    margin-top: .5rem;
}
.section{
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 2rem;
}
.section__content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}
.section__num{
    color: var(--GrayishBlue);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}
.section__h4{
    color: var(--VeryDarkBlue);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.section__p{
    color: var(--DarkGrayishBlue);
    line-height: 1.5;
}