:root{
/* ## Colors */
/* ### Primary */
--SoftOrange: hsl(35, 77%, 62%);
--SoftRed: hsl(5, 85%, 63%);

/* ### Neutral */
--OffWhite: hsl(36, 100%, 99%);
--GrayishBlue: hsl(233, 8%, 79%);
--DarkGrayishBlue: hsl(236, 13%, 42%);
--VeryDarkBlue: hsl(240, 100%, 5%);

/* Fonts */
--fuentePrincipal: 'Inter', sans-serif;
}

body{
    font-size: 15px !important;
    margin: 0;
    font-family: var(--fuentePrincipal) !important;
    background-color: var(--OffWhite) !important;
}
ul{
    margin: 0 !important;
    padding-left: 0 !important;
}
li{
    list-style: none;
}
p{
    font-size: 15px !important;
}
a{
    color: var(--VeryDarkBlue) !important;
    text-decoration: none !important;
}
.image-web{
    background-image: url(/images/image-web-3-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 350px;
    min-width: 100%;
}
.titulo-web{
    font-size: 36px !important;
    font-weight: 800;
    color: var(--VeryDarkBlue);
    margin: 10px 0;
}
.parrafo-web{
    color: var(--DarkGrayishBlue);
}
.btn-more{
    all: unset;
    background-color: var(--SoftRed);
    color: var(--OffWhite);
    padding: .8rem 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 5px;
    transition: all .25s ease-in;
}
.btn-more:hover{
    background-color: var(--VeryDarkBlue);
}
.titulo-new{
    color: var(--SoftOrange);
    font-weight: 700;
    margin-bottom: 2rem;
}
.subHead3{
    color: var(--OffWhite);
    font-weight: 700;
    font-size: 18px !important;
    transition: all .20s ease-in;
}
.subHead3:hover{
    cursor: pointer;
    color: var(--SoftOrange);
}
.parrafo-web2{
    color: var(--GrayishBlue);
}
#new-card > div{
    border-bottom: 1px solid var(--GrayishBlue);
}
#new-card > div:last-child{
    border-bottom: none;
}
#menuHam{
    cursor: pointer;
}
.image-retro{
    width: 100px;
}
.num-style{
    color: var(--GrayishBlue);
    font-weight: 700;
    font-size: 24px;
}
.subHead4{
    color: var(--VeryDarkBlue);
    font-weight: 700;
    font-size: 17px !important;
    transition: all .20s ease-in;
}
.subHead4:hover{
    cursor: pointer;
    color: var(--SoftRed);
}
#menuOculto{
    position: absolute;
    right: -100%;
    top: 0;
    width: 70%;
    background-color: var(--OffWhite);
    transition: all .3s;
    padding: 1rem;
    height: 100vh;
    z-index: 2;
}
@media (min-width: 768px){ 
    #menuOculto{
        display: none;
    }
}
#menuOculto.activo{
   right: 0;
}
.fondoObscuro{
    position: absolute;
    inset: 0;
    z-index: 1;
    transition: all .3s;
    background-color: rgb(0 0 0 / 70%);
}

.grid-main{
    display: grid;
}
@media (min-width: 768px){ 
    .grid-main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.5rem;
    }
}
.grid-areas{
    display: grid;
}
@media (min-width: 768px){ 
    .grid-areas{
        display: grid;
    }
}
.grid-2{
    display: grid;
    padding: 1rem 0;
}
@media (min-width: 768px){ 
    .grid-2{
        grid-template-columns: 1fr 1fr;
    }
}
.grid-nav{
    display: none;
}
@media (min-width: 768px){ 
    .grid-nav{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 1rem;
    }
}
.enlace{
    color: var(--DarkGrayishBlue) !important;
    transition: all .20s ease-in;
}
.enlace:hover{
    color: var(--SoftRed) !important;
}